In [ ]:
from splinter import Browser
from bs4 import BeautifulSoup

# Mac Users

In [ ]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# !which chromedriver

In [20]:
# /usr/local/bin/chromedriver

In [21]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

# Windows

In [22]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [23]:
url = 'https://www.imdb.com/search/title/?companies=co0144901&ref_=adv_prv'
browser.visit(url)

In [ ]:
movie_list = []
count = 0
for x in range(1, 264):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    articles = soup.find_all('div', class_='lister-item-content')
    
 
    
    for article in articles:
        
        
       
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
        h3 = article.find('h3')
#         print(h3)
#         print("----------")
        title = h3.find('a').text
#         if "title" in movie_dict:
#             movie_dict["title"].append(title)
#         else:
#             movie_dict["title"] = [title]
        
        try:
            rating_bar = article.find('div', class_='ratings-bar')
            rating = rating_bar.find('div', class_='inline-block ratings-imdb-rating')['data-value']
#             if "rating" in movie_dict:
#                 movie_dict["rating"].append(rating)
#             else:
#                 movie_dict["rating"] = [rating]
            count+=1   
        except:
            rating = None
        movie_dict = {"title":title, "rating":rating}
        movie_list.append(movie_dict)
            
#     break
        
    try:
        element_next=browser.links.find_by_partial_text('Next')
        element_next.click()
          
    except:
        print("Scraping Complete")
print(len(movie_list))

Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete

In [8]:
import pandas as pd
raw=pd.DataFrame(movie_list)
raw

                             title rating
0                          Lucifer    8.2
1             The Umbrella Academy      8
2                    Project Power      6
3                     Enola Holmes   None
4                        Cobra Kai    8.8
...                            ...    ...
13145   Spy Kids: Mission Critical   None
13146   Spy Kids: Mission Critical   None
13147   Spy Kids: Mission Critical   None
13148   Spy Kids: Mission Critical   None
13149   Spy Kids: Mission Critical   None

[13150 rows x 2 columns]

In [9]:
df_dropna=raw.dropna()

In [10]:
df_dropna['rating'] = df_dropna['rating'].astype(float)
df_dropna.dtypes

C:\Users\spuna\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

title      object
rating    float64
dtype: object

In [11]:
df_dropna

                             title  rating
0                          Lucifer     8.2
1             The Umbrella Academy     8.0
2                    Project Power     6.0
4                        Cobra Kai     8.8
5                    The Sleepover     5.5
...                            ...     ...
13139                     Atypical     8.8
13140                     Atypical     8.6
13141                     Atypical     8.9
13142   Spy Kids: Mission Critical     6.4
13143   Spy Kids: Mission Critical     8.7

[12017 rows x 2 columns]

In [12]:
df_dropna["title"] = df_dropna["title"].str.strip()

C:\Users\spuna\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
grouped_df=df_dropna.groupby('title')
avg_rating=grouped_df['rating'].mean()
avg_rating = avg_rating.map("{:.1f}".format)

In [14]:
avg_rating

title
#Alive                          6.2
#Anne Frank Parallel Stories    6.4
#HappyBirthdaySense8            8.9
#REALITYHIGH                    5.2
#Rucker50                       5.4
                               ...
iZombie                         8.3
¡Ay, mi madre!                  3.8
Ánimas                          4.8
Çok Filim Hareketler Bunlar     4.4
Ófærð                           8.1
Name: rating, Length: 4376, dtype: object

In [15]:
hulurating_final=pd.DataFrame(avg_rating)
hulurating_final=hulurating_final.reset_index('title')

In [16]:
hulurating_final

                             title rating
0                           #Alive    6.2
1     #Anne Frank Parallel Stories    6.4
2             #HappyBirthdaySense8    8.9
3                     #REALITYHIGH    5.2
4                        #Rucker50    5.4
...                            ...    ...
4371                       iZombie    8.3
4372                ¡Ay, mi madre!    3.8
4373                        Ánimas    4.8
4374   Çok Filim Hareketler Bunlar    4.4
4375                         Ófærð    8.1

[4376 rows x 2 columns]

In [17]:
hulurating_final.to_csv('Resources/netflixrating',index=False)