In [10]:
from splinter import Browser
from bs4 import BeautifulSoup

# Mac Users

In [11]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# !which chromedriver

In [12]:
# /usr/local/bin/chromedriver

In [13]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

# Windows

In [14]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [15]:
url = 'https://www.imdb.com/search/title/?companies=co0144901&ref_=adv_prv'
browser.visit(url)

In [16]:
movie_list = []
count = 0
for x in range(1, 264):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    articles = soup.find_all('div', class_='lister-item-content')
    
 
    
    for article in articles:
        
        
       
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
        h3 = article.find('h3')
#         print(h3)
#         print("----------")
        title = h3.find('a').text
#         if "title" in movie_dict:
#             movie_dict["title"].append(title)
#         else:
#             movie_dict["title"] = [title]
        
        try:
            rating_bar = article.find('div', class_='ratings-bar')
            rating = rating_bar.find('div', class_='inline-block ratings-imdb-rating')['data-value']
#             if "rating" in movie_dict:
#                 movie_dict["rating"].append(rating)
#             else:
#                 movie_dict["rating"] = [rating]
            count+=1   
        except:
            rating = None
        movie_dict = {"title":title, "rating":rating}
        movie_list.append(movie_dict)
            
#     break
        
    try:
        element_next=browser.links.find_by_partial_text('Next')
        element_next.click()
          
    except:
        print("Scraping Complete")
print(len(movie_list))

13100

In [17]:
import pandas as pd
raw=pd.DataFrame(movie_list)
raw

                                 title rating
0                              Lucifer    8.2
1                 The Umbrella Academy      8
2                        Project Power      6
3                         Enola Holmes   None
4                            Cobra Kai    8.8
...                                ...    ...
13095   Trollhunters: Tales of Arcadia    8.6
13096   Trollhunters: Tales of Arcadia    8.8
13097   Trollhunters: Tales of Arcadia    8.9
13098   Trollhunters: Tales of Arcadia    9.1
13099                          Vikings    7.7

[13100 rows x 2 columns]

In [18]:
df_dropna=raw.dropna()

In [19]:
df_dropna['rating'] = df_dropna['rating'].astype(float)
df_dropna.dtypes

C:\Users\spuna\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

title      object
rating    float64
dtype: object

In [20]:
df_dropna

                                 title  rating
0                              Lucifer     8.2
1                 The Umbrella Academy     8.0
2                        Project Power     6.0
4                            Cobra Kai     8.8
5                        The Sleepover     5.5
...                                ...     ...
13095   Trollhunters: Tales of Arcadia     8.6
13096   Trollhunters: Tales of Arcadia     8.8
13097   Trollhunters: Tales of Arcadia     8.9
13098   Trollhunters: Tales of Arcadia     9.1
13099                          Vikings     7.7

[12100 rows x 2 columns]

In [21]:
grouped_df=df_dropna.groupby('title')
avg_rating=grouped_df['rating'].mean()
avg_rating = avg_rating.map("{:.1f}".format)

In [22]:
avg_rating

title
 13 Reasons Why                    7.5
 7Seeds                            7.5
 A Series of Unfortunate Events    8.0
 A Suitable Boy                    6.7
 A Very Secret Service             7.6
                                  ...
iZombie                            7.9
¡Ay, mi madre!                     3.8
Ánimas                             4.8
Çok Filim Hareketler Bunlar        4.4
Ófærð                              8.1
Name: rating, Length: 4800, dtype: object

In [23]:
hulurating_final=pd.DataFrame(avg_rating)
hulurating_final=hulurating_final.reset_index('title')

In [24]:
hulurating_final

                                title rating
0                      13 Reasons Why    7.5
1                              7Seeds    7.5
2      A Series of Unfortunate Events    8.0
3                      A Suitable Boy    6.7
4               A Very Secret Service    7.6
...                               ...    ...
4795                          iZombie    7.9
4796                   ¡Ay, mi madre!    3.8
4797                           Ánimas    4.8
4798      Çok Filim Hareketler Bunlar    4.4
4799                            Ófærð    8.1

[4800 rows x 2 columns]

In [25]:
hulurating_final.to_csv('Resources/netflixrating',index=False)