In [18]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

# all dependencies at the top.

# Mac Users

In [19]:
# # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [20]:
# /usr/local/bin/chromedriver = output from snippet 2.

In [21]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# Windows

In [22]:
#executable_path = {'executable_path': 'chromedriver.exe'}
#browser = Browser('chrome', **executable_path, headless=False)

In [23]:
url = 'https://www.imdb.com/search/title/?companies=co0218858'
browser.visit(url)

In [24]:
movie_dict = {}
for x in range(1, 50):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    articles = soup.find_all('div', class_='lister-item-content')
    
    for article in articles:
        
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
        h3 = article.find('h3')
        title = h3.find('a').text
        if "title" in movie_dict:
            movie_dict["title"].append(title)
        else:
            movie_dict["title"] = [title]
        
        try:
            rating_bar = article.find('div', class_='ratings-bar')
            rating = rating_bar.find('div', class_='inline-block ratings-imdb-rating')['data-value']
            if "rating" in movie_dict:
                movie_dict["rating"].append(rating)
            else:
                movie_dict["rating"] = [rating]
            
        except:
            movie_dict["rating"].append(None)
        
# scraping both movie/show titles and movie ratings.             
        
    try:
        browser.click_link_by_partial_text('Next')
          
    except:
        print("Scraping Complete")

/Users/haydenrubin/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/splinter/driver/webdriver/__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [25]:
#print(movie_dict) to see if it worked.

In [26]:
raw_data=pd.DataFrame(movie_dict)
raw_data

                    title rating
0               Community    8.5
1     The Handmaid's Tale    8.5
2            Palm Springs    7.4
3            Line of Duty    8.7
4               The Binge    4.8
...                   ...    ...
2445                Joshy    5.9
2446       The Wrong Mans    7.8
2447           Animaniacs   None
2448      Minding the Gap    8.1
2449            Butterfly    6.2

[2450 rows x 2 columns]

In [27]:
df_dropna=raw_data.dropna() # dropping null/Na/NaN/None values

In [28]:
df_dropna['rating'] = df_dropna['rating'].astype(float)
df_dropna.dtypes

/Users/haydenrubin/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

title      object
rating    float64
dtype: object

In [29]:
df_dropna # viewing the cleaned dataset without the null values

                     title  rating
0                Community     8.5
1      The Handmaid's Tale     8.5
2             Palm Springs     7.4
3             Line of Duty     8.7
4                The Binge     4.8
...                    ...     ...
2444  The Booth at the End     8.3
2445                 Joshy     5.9
2446        The Wrong Mans     7.8
2448       Minding the Gap     8.1
2449             Butterfly     6.2

[2121 rows x 2 columns]

In [30]:
grouped_df=df_dropna.groupby('title')

# grouping by because there are multiple ratings for different episodes for some shows. 
avg_rating=grouped_df['rating'].mean()

In [31]:
avg_rating # viewing movies/shows groupedby average rating.

title
11.22.63                     8.2
Alone Together               6.3
Bad Hair                     5.3
Brassic                      8.3
Butterfly                    6.2
                            ...
Undisputed                   6.2
Veronica Mars                8.3
Waiting...                   6.8
Wounds                       4.0
Wu-Tang: An American Saga    8.2
Name: rating, Length: 93, dtype: float64

In [32]:
hulu_rating_final=pd.DataFrame(avg_rating) #converting the above output into a data frame. 
hulu_rating_final=hulu_rating_final.reset_index('title') #title was the index, after running the above line of code.

In [33]:
hulu_rating_final

                        title  rating
0                    11.22.63     8.2
1              Alone Together     6.3
2                    Bad Hair     5.3
3                     Brassic     8.3
4                   Butterfly     6.2
..                        ...     ...
88                 Undisputed     6.2
89              Veronica Mars     8.3
90                 Waiting...     6.8
91                     Wounds     4.0
92  Wu-Tang: An American Saga     8.2

[93 rows x 2 columns]

In [34]:
hulu_rating_final.to_csv('../Resources',index=False) #converting the final dataframe to a csv.