In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

# Mac Users

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# !which chromedriver

In [3]:
# /usr/local/bin/chromedriver

In [4]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

# Windows

In [5]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
url = 'https://www.imdb.com/search/title/?companies=co0218858'
browser.visit(url)

In [7]:
movie_dict = {}
for x in range(1, 50):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    articles = soup.find_all('div', class_='lister-item-content')
 
    
    for article in articles:
        
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
        h3 = article.find('h3')
        title = h3.find('a').text
        if "title" in movie_dict:
            movie_dict["title"].append(title)
        else:
            movie_dict["title"] = [title]
        
        try:
            rating_bar = article.find('div', class_='ratings-bar')
            rating = rating_bar.find('div', class_='inline-block ratings-imdb-rating')['data-value']
            if "rating" in movie_dict:
                movie_dict["rating"].append(rating)
            else:
                movie_dict["rating"] = [rating]
            
        except:
            movie_dict["rating"].append(None)
        
            
        
        
    try:
        browser.click_link_by_partial_text('Next')
          
    except:
        print("Scraping Complete")

C:\Users\spuna\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [8]:
#print(movie_dict)

In [19]:
import pandas as pd
raw=pd.DataFrame(movie_dict)
raw

                    title rating
0               Community    8.5
1     The Handmaid's Tale    8.5
2            Palm Springs    7.4
3            Line of Duty    8.7
4               The Binge    4.8
...                   ...    ...
2445    The Morning After   None
2446    The Morning After   None
2447    The Morning After   None
2448    The Morning After   None
2449    The Morning After   None

[2450 rows x 2 columns]

In [20]:
df_dropna=raw.dropna()

In [21]:
df_dropna['rating'] = df_dropna['rating'].astype(float)
df_dropna.dtypes

C:\Users\spuna\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

title      object
rating    float64
dtype: object

In [24]:
df_dropna

                    title  rating
0               Community     8.5
1     The Handmaid's Tale     8.5
2            Palm Springs     7.4
3            Line of Duty     8.7
4               The Binge     4.8
...                   ...     ...
2378            Zero Hour     7.1
2394         Line of Duty     7.9
2418         Line of Duty     8.5
2428            Zero Hour     7.1
2444         Line of Duty     7.9

[477 rows x 2 columns]

In [26]:
df_dropna["title"] = df_dropna["title"].str.strip()

C:\Users\spuna\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
grouped_df=df_dropna.groupby('title')
avg_rating=grouped_df['rating'].mean()
avg_rating = avg_rating.map("{:.1f}".format)

In [35]:
avg_rating

title
.hack//Quantum: Walking Party    6.8
11.22.63                         8.2
2020 Golden Globe Awards         7.1
2nd Serve                        5.6
A Cam Life                       4.7
                                ...
Wounds                           4.0
Wrong Package                    9.0
Wu-Tang: An American Saga        8.2
Zero Hour                        7.1
Zomboat!                         6.9
Name: rating, Length: 297, dtype: object

In [36]:
hulurating_final=pd.DataFrame(avg_rating)
hulurating_final=hulurating_final.reset_index('title')

In [37]:
hulurating_final

                             title rating
0    .hack//Quantum: Walking Party    6.8
1                         11.22.63    8.2
2         2020 Golden Globe Awards    7.1
3                        2nd Serve    5.6
4                       A Cam Life    4.7
..                             ...    ...
292                         Wounds    4.0
293                  Wrong Package    9.0
294      Wu-Tang: An American Saga    8.2
295                      Zero Hour    7.1
296                       Zomboat!    6.9

[297 rows x 2 columns]

In [38]:
hulurating_final.to_csv('Resources/hulurating',index=False)