In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

# Mac Users

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# !which chromedriver

In [3]:
# /usr/local/bin/chromedriver

In [4]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

# Windows

In [58]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [59]:
url = 'https://www.imdb.com/search/title/?companies=co0218858'
browser.visit(url)

In [46]:
movie_list = []
count = 0
for x in range(1, 38):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    articles = soup.find_all('div', class_='lister-item-content')
    
 
    
    for article in articles:
        
        
       
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
        h3 = article.find('h3')
#         print(h3)
#         print("----------")
        title = h3.find('a').text
#         if "title" in movie_dict:
#             movie_dict["title"].append(title)
#         else:
#             movie_dict["title"] = [title]
        
        try:
            rating_bar = article.find('div', class_='ratings-bar')
            rating = rating_bar.find('div', class_='inline-block ratings-imdb-rating')['data-value']
#             if "rating" in movie_dict:
#                 movie_dict["rating"].append(rating)
#             else:
#                 movie_dict["rating"] = [rating]
            count+=1   
        except:
            rating = None
        movie_dict = {"title":title, "rating":rating}
        movie_list.append(movie_dict)
            
#     break
        
    try:
        element_next=browser.links.find_by_partial_text('Next')
        element_next.click()
          
    except:
        print("Scraping Complete")
print(len(movie_list))

Scraping Complete
1807

In [47]:
#print(movie_dict)

In [48]:
import pandas as pd
raw=pd.DataFrame(movie_list)
raw

                     title rating
0                Community    8.5
1      The Handmaid's Tale    8.5
2             Palm Springs    7.4
3             Line of Duty    8.7
4                The Binge    4.8
...                    ...    ...
1802    Light as a Feather    7.6
1803    Light as a Feather    7.6
1804   The Handmaid's Tale    9.3
1805   The Handmaid's Tale    8.2
1806   The Handmaid's Tale    9.4

[1807 rows x 2 columns]

In [49]:
df_dropna=raw.dropna()

In [50]:
df_dropna['rating'] = df_dropna['rating'].astype(float)
df_dropna.dtypes

C:\Users\spuna\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

title      object
rating    float64
dtype: object

In [51]:
df_dropna

                     title  rating
0                Community     8.5
1      The Handmaid's Tale     8.5
2             Palm Springs     7.4
3             Line of Duty     8.7
4                The Binge     4.8
...                    ...     ...
1802    Light as a Feather     7.6
1803    Light as a Feather     7.6
1804   The Handmaid's Tale     9.3
1805   The Handmaid's Tale     8.2
1806   The Handmaid's Tale     9.4

[754 rows x 2 columns]

In [52]:
df_dropna["title"] = df_dropna["title"].str.strip()

C:\Users\spuna\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
grouped_df=df_dropna.groupby('title')
avg_rating=grouped_df['rating'].mean()
avg_rating = avg_rating.map("{:.1f}".format)

In [54]:
avg_rating

title
.hack//Quantum: Walking Party    6.8
11.22.63                         8.3
2020 Golden Globe Awards         7.1
2nd Serve                        5.6
A Cam Life                       4.7
                                ...
Wrong Package                    9.0
Wu-Tang: An American Saga        8.2
Zac and Mia                      8.0
Zero Hour                        7.1
Zomboat!                         6.9
Name: rating, Length: 300, dtype: object

In [55]:
hulurating_final=pd.DataFrame(avg_rating)
hulurating_final=hulurating_final.reset_index('title')

In [56]:
hulurating_final

                             title rating
0    .hack//Quantum: Walking Party    6.8
1                         11.22.63    8.3
2         2020 Golden Globe Awards    7.1
3                        2nd Serve    5.6
4                       A Cam Life    4.7
..                             ...    ...
295                  Wrong Package    9.0
296      Wu-Tang: An American Saga    8.2
297                    Zac and Mia    8.0
298                      Zero Hour    7.1
299                       Zomboat!    6.9

[300 rows x 2 columns]

In [57]:
hulurating_final.to_csv('Resources/hulurating',index=False)