In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

# Mac Users

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# !which chromedriver

In [3]:
# /usr/local/bin/chromedriver

In [4]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

# Windows

In [5]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
url = 'https://www.imdb.com/search/title/?companies=co0144901&ref_=adv_prv'
browser.visit(url)

In [7]:
movie_list = []
count = 0
for x in range(1, 264):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    articles = soup.find_all('div', class_='lister-item-content')
    
 
    
    for article in articles:
        
        
       
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
        h3 = article.find('h3')
#         print(h3)
#         print("----------")
        title = h3.find('a').text
#         if "title" in movie_dict:
#             movie_dict["title"].append(title)
#         else:
#             movie_dict["title"] = [title]
        
        try:
            rating_bar = article.find('div', class_='ratings-bar')
            rating = rating_bar.find('div', class_='inline-block ratings-imdb-rating')['data-value']
#             if "rating" in movie_dict:
#                 movie_dict["rating"].append(rating)
#             else:
#                 movie_dict["rating"] = [rating]
            count+=1   
        except:
            rating = None
        movie_dict = {"title":title, "rating":rating}
        movie_list.append(movie_dict)
            
#     break
        
    try:
        element_next=browser.links.find_by_partial_text('Next')
        element_next.click()
          
    except:
        print("Scraping Complete")
print(len(movie_list))

13098

In [8]:
import pandas as pd
raw=pd.DataFrame(movie_list)
raw

                      title rating
0                   Lucifer    8.2
1      The Umbrella Academy      8
2             Project Power      6
3              Enola Holmes   None
4                 Cobra Kai    8.8
...                     ...    ...
13093          Virgin River    8.2
13094           On My Block    8.3
13095           Warrior Nun    7.2
13096           Warrior Nun    7.4
13097           Warrior Nun    7.4

[13098 rows x 2 columns]

In [9]:
df_dropna=raw.dropna()

In [10]:
df_dropna['rating'] = df_dropna['rating'].astype(float)
df_dropna.dtypes

C:\Users\spuna\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

title      object
rating    float64
dtype: object

In [11]:
df_dropna

                      title  rating
0                   Lucifer     8.2
1      The Umbrella Academy     8.0
2             Project Power     6.0
4                 Cobra Kai     8.8
5             The Sleepover     5.5
...                     ...     ...
13093          Virgin River     8.2
13094           On My Block     8.3
13095           Warrior Nun     7.2
13096           Warrior Nun     7.4
13097           Warrior Nun     7.4

[12015 rows x 2 columns]

In [12]:
df_dropna["title"] = df_dropna["title"].str.strip()

C:\Users\spuna\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
grouped_df=df_dropna.groupby('title')
avg_rating=grouped_df['rating'].mean()
avg_rating = avg_rating.map("{:.1f}".format)

In [14]:
avg_rating

title
#Alive                          6.2
#Anne Frank Parallel Stories    6.4
#BlackAF                        6.7
#HappyBirthdaySense8            8.9
#REALITYHIGH                    5.2
                               ...
iBoy                            6.0
iZombie                         7.9
Ánimas                          4.8
Çok Filim Hareketler Bunlar     4.4
Ófærð                           8.1
Name: rating, Length: 4328, dtype: object

In [15]:
netflixrating_final = pd.DataFrame(avg_rating)
netflixrating_final = netflixrating_final.reset_index('title')

In [16]:
netflixrating_final

                             title rating
0                           #Alive    6.2
1     #Anne Frank Parallel Stories    6.4
2                         #BlackAF    6.7
3             #HappyBirthdaySense8    8.9
4                     #REALITYHIGH    5.2
...                            ...    ...
4323                          iBoy    6.0
4324                       iZombie    7.9
4325                        Ánimas    4.8
4326   Çok Filim Hareketler Bunlar    4.4
4327                         Ófærð    8.1

[4328 rows x 2 columns]

In [17]:
netflixrating_final.to_csv('Resources/netflixrating',index=False)